{% extends "base.html" %}

{%block title%}
 Edit task
{%endblock title%}

{%block content%}
    <div class="container">
        <form method ="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name = "task" placeholder="{{task_obj.task}}", value ="{{task_obj.task}}">
                <input type="hidden"  name = "isCompleted"  value ="{{task_obj.isCompleted}}">
            </div>
            <button type="submit" class="btn btn-primary">Update Task</button>
        </form>
    </div>
{%endblock content%}